h1 {
    font-family: 'Trade Winds', cursive;
    font-size: 4rem;
}

.subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

h3, p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}



