.bg-info {
    background-color: rgba(233, 236, 239)!important;
}

.jumbotron-fluid, footer {
    background-image: url(../images/pawprintsBrown.png);
}

h1 {
    font-family: 'Trade Winds', cursive;
    font-size: 4rem;
}

.subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    font-weight: bold;
}

h3, p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

#caption {
    float: left;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
}

